@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-background {
	background-image: url(https://firebasestorage.googleapis.com/v0/b/authtest-87079.appspot.com/o/Zodiac%2Fhoroscope.jpg?alt=media&token=753aa7f1-68d7-4275-9915-dab16c85168b);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: inherit;
	background-size: cover;
	background-color: #ecf5ff;
	min-height: 100vh;
	opacity: 0.8;
}

.futura {
	font-family: Futura;
}

.whitesmoke {
	color: whitesmoke;
}

.border-radius {
	border-radius: 8px;
}
